[submodule ".vim/bundle/AutoComplPop"]
	path = .vim/bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/phpcomplete.vim"]
	path = .vim/bundle/phpcomplete.vim
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-nerdtree-tabs"]
	path = .vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/vim-signify"]
	path = .vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule ".vim/bundle/vim-twig"]
	path = .vim/bundle/vim-twig
	url = https://github.com/evidens/vim-twig.git
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/vim-phpqa"]
	path = .vim/bundle/vim-phpqa
	url = https://github.com/joonty/vim-phpqa.git
[submodule ".vim/bundle/checksyntax_vim"]
	path = .vim/bundle/checksyntax_vim
	url = https://github.com/tomtom/checksyntax_vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
